spring:
  datasource:
    url: ${MYSQL_URL}
    username: ${MYSQL_USERNAME}
    password: ${MYSQL_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        format_sql: false
        use_sql_comments: false
        type: false
        jdbc:
          time_zone: Asia/Seoul

  servlet:
    multipart:
      max-file-size: 100MB
      max-request-size: 100MB

  security:
    oauth2:
      client:
        registration:
          # Google OAuth2
          google:
            client-id: ${GOOGLE_CLIENT_ID}
            client-secret: ${GOOGLE_CLIENT_SECRET}
            scope:
              - email
              - profile
            redirect-uri: "${BACKEND_URL}/api/v1/auth/oauth2/callback/{registrationId}"

          # Kakao OAuth2
          kakao:
            client-id: ${KAKAO_CLIENT_ID}
            client-secret: ${KAKAO_CLIENT_SECRET}
            client-authentication-method: client_secret_post
            authorization-grant-type: authorization_code
            redirect-uri: "${BACKEND_URL}/api/v1/auth/oauth2/callback/{registrationId}"
            scope:
              - profile_nickname
              - profile_image
              - account_email
            client-name: Kakao

          # Naver OAuth2
          naver:
            client-id: ${NAVER_CLIENT_ID}
            client-secret: ${NAVER_CLIENT_SECRET}
            authorization-grant-type: authorization_code
            redirect-uri: "${BACKEND_URL}/api/v1/auth/oauth2/callback/{registrationId}"
            scope:
              - name
              - email
              - profile_image
            client-name: Naver

        provider:
          kakao:
            authorization-uri: https://kauth.kakao.com/oauth/authorize
            token-uri: https://kauth.kakao.com/oauth/token
            user-info-uri: https://kapi.kakao.com/v2/user/me
            user-name-attribute: id

          naver:
            authorization-uri: https://nid.naver.com/oauth2.0/authorize
            token-uri: https://nid.naver.com/oauth2.0/token
            user-info-uri: https://openapi.naver.com/v1/nid/me
            user-name-attribute: response

# JWT 설정
jwt:
  key: ${JWT_SECRET_KEY}
  access-token-validity-in-seconds: 15552000  #6개월
  refresh-token-validity-in-seconds: 31104000 #1년

# OpenAI 설정
openai:
  api-key: ${OPENAI_API_KEY}
  base-url: https://api.openai.com/v1
  model: gpt-5-nano
  max-tokens: 2000
  temperature: 0.3

# 애플리케이션 설정
app:
  oauth2:
    redirect-uri: ${FRONTEND_URL}/oauth2/redirect
  cookie:
    secure: true
    domain: .acci-ai.site
    access-token-same-site: Lax
    refresh-token-same-site: Strict

server:
  port: 8080

ai:
  server:
    url: ${AI_SERVER_URL}

cloud:
  aws:
    s3:
      bucket: ${AWS_S3_BUCKET}

logging:
  file:
    path: /acci/logs